html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: url('/assets/images/login_bg.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* logo区域 */
#logo {
    margin: 20px 0 0 115px;
}

/* 登录和注册的盒子 */
#login,
#register {
    background-color: #fff;
    height: 310px;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* 默认注册的盒子隐藏 */
#register {
    display: none;
}

/* 标题区 */
.title {
    height: 60px;
    background: url('/assets/images/login_title.png') no-repeat center center;
}

form {
    margin: 0 30px;
}

#goto-reg,
#goto-login {
    float: right;
}

/* 设置图标 */

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    top: 12px;
    left: 10px;
}

.layui-input {
    padding-left: 30px;
}